/* body style */
body {
    font-family: "Lora", serif;
    font-weight: 500;
    font-style: normal;
    color: #15d448;
}

/* heading 1 Style */
h1 {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-size: 100px;
    font-style: normal;
    color: green;
    text-align: center;
}

/* h2 style */
h2 {
    font-size: 75px;
}

/* button style */
button {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: larger;
}